Django==1.6.5
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PIL==1.1.7
Pillow==2.3.0
Werkzeug==0.9.6
gunicorn==19.1.1
image==1.2
itsdangerous==0.24
lib601==F13-1
matplotlib==1.1.1
numpy==1.6.2
requests==2.2.0
virtualenv==1.11.6
wsgiref==0.1.2
